#
# .gitignore
#

.DS_Store
.Trashes
.localized

./build/
xcuserdata
DerivedData

*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xccheckout
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.hmap
*.o
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.bcsymbolmap

timeline.xctimeline
playground.xcworkspace

.idea
*.iml

Pods
Packages

!Carthage/Checkouts/
Carthage/Checkouts/*

!Carthage/Build/
Carthage/Build/*
!Carthage/Build/iOS/

.env
